@use "../../asset/sass/variables" as *;

.employee-content {
  border: 2px solid maroon;
  display: grid;
  // grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 350px;
  width: 200px;
  position: relative;
  margin-bottom: 20px;
  background-color: aqua;

  &__add--sign {
    height: 5px;
    width: 5px;
  }
  &__sub--sign {
    height: 0.001pt;
    width: 0.001pt;
  }
}

.employee__counter {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: beige;
  border: 2px solid green;
  width: 170px;
  margin-left: 10px;
  margin-bottom: 10px;
  height: 200px;
}

.count {
  align-items: center;
}
