@use "./asset/sass/variables" as *;

.app {
  padding: 0 auto;
  margin: 10px;
}

.tracker {
  display: flex;
  flex-direction: column;
  // grid-template-columns: repeat(4, 1fr);
  // grid-template-rows: max-content;
  // justify-content: center;
  // align-items: center;
  border: 10px solid $color-primary;
}
